body {
  background-color: #dd1313;
  text-align: center ;
}
  .heading {
    background: blue;
    padding: 15px;
    margin-bottom: 15px;
    color: red;
  }

.five {
  background-color:black;
  color: red;
}
img{
  height:120px;
  width:190px;
  padding-left:20px;
}
